@font-face {
  font-family: NotoSans;
  src: url(fonts/NotoSansJP-Regular.otf);
}

@keyframes FadeInOut {
  0% {
    opacity:1;
  }
  45% {
  opacity:1;
  }
  55% {
  opacity:0;
  }
  100% {
  opacity:0;
  }
}

body {
  background-color: #A84217;
}

.main {
  background-color: #A84217;
  width: 100%;
	height: 100%;
	position: absolute;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}

.welcome {
  display: flex;
  flex-direction: column;
  height: 20%;
  width:100%;
  justify-content: center;
  align-items: center;
  margin: auto;
  position: relative;
}

.welcome img {
  position: absolute;
  -webkit-transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  -o-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
}

/* for phones */
@media screen and (min-width: 280px) {
  #welcome-img, #welcome-img2 {
    height: auto;
    width: 100vw;
  }

  .logo img {
    width: auto;
    height: 7vh;
  }

  #jukebox img {
    position: absolute;
    left: 50%;
    height: auto;
    width: 100vw;
    margin-left: -50vw;
    cursor: pointer;
  }
}

@media screen and (min-width: 768px) {
  #welcome-img, #welcome-img2 {
    top: 10%;
    width: 90vw;
    height: auto;
  }

  .logo img {
    width: auto;
    height: 10vh;
  }

  #jukebox img {
    position: absolute;
    left: 50%;
    height: auto;
    width: 70vw;
    margin-left:-35vw;
  }
}

/* for computers */
@media screen and (min-width: 1024px) {
  #welcome-img, #welcome-img2 {
    height: 30vh;
    width: auto;
  }

  .logo img {
    width: auto;
    height: 15vh;
  }

  #jukebox img {
    position: absolute;
    left: 50%;
    height: auto;
    width: 30vw;
    margin-left:-15vw;
  }
}

.logo {
  position:absolute;
  top:2px;
  left:2px;
}

.jukebox-container {
  margin: 0;
  padding: 0;
  /* border: 1px solid white; */
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 80%;
  align-items: center;
  /* overflow: hidden; */
}

/* Jukebox */

#jukebox {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  position:relative;
  justify-content: center;
  text-align: center;
  overflow: hidden;
}

#jukebox img {
  -webkit-transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  -o-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
}

img.top {
  animation-name: FadeInOut;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-duration: 0.5s;
  animation-direction: alternate;
}

/* end of scene 1 */

/* scene 2 */

#scene2 {
  margin: 0;
  padding: 0;
  top:0;
  left:0;
  right:0;
  bottom:0;
  width: 100%;
  height: 100%;
  position: absolute;
  align-items: center;
  align-content: center;
}

.foreground {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-image: url(img/jukebox-screen.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

/* form */

  .form-container {
    margin: 25px;
    width: 100%;
    height: 100%;
  }

  form label, form input {
    display: block;
    margin-bottom: 3px;
    border: 0;
    font-family: NotoSans;
    width: 250px;
  }

  form input, select {
    height: 25px;
    line-height: 25px;
    background: #FAF5D4;
    border: 1px solid black;
    color: #000;
    padding: 0 6px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 250px;
  }

  form .error {
    color: #ff0000;
    display: block;
    width: 250px;
  }

  #item1, #item2, #item3, #item4, #item5, #item6, #item7 {
    background-color: #FAF5D4;
    position:absolute;
    width: 300px;
    height: 150px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),
      0 1px 5px 0 rgba(0,0,0,0.12),
      0 3px 1px -2px rgba(0,0,0,0.2);
  }

  #item1 {
    left: 600px;
    top: 10px;
    /* 900px */
  }

  #item2 {
    top: 10px;
    left: 1000px; 
    /* 1300px */
  }

  #item3 {
    top: 10px;
    left: 1400px;
    /* 1700 */
  }

  #item4 {
    top: 10px;
    left: 1800px;
    /* 2100 */
  }

  #item5 {
    top: 10px;
    left: 2200px;
    /* 2500 */
  }

  #item6 {
    top: 10px;
    left: 2600px;
    /* 2900px */
  }

  #item7 {
    top: 10px;
    left: 3000px;
    /* 3300px */
  }

/* end of form */

#prev:hover, #next:hover, #submit:hover {
  background-color:#d18846;
}

#prev:active, #next:active, #submit:active {
  background-color: #d18846;
  box-shadow: 0 5px #82552f;
  transform: translateY(4px);
}

/* For Mobile */
@media screen and (min-width: 280px) {
  .foreground {
    position: absolute;
  }

  .zoomViewport {
    overflow:hidden;
    position: absolute;
    padding:0;
    width: 90vw;
    height: 225px;
    left: 50%;
    margin-left:-45vw;
    top: 50%;
    margin-top: -10vh;
    background-color: transparent;
    border-top-left-radius: 10vh;
    border-top-right-radius: 10vh;
    border: 1px solid black;
  }
  
  .zoomContainer {
    margin:0;
    padding:0;
    width:100%;
    height:100%;
    position:relative;
    border: 0;
    background-color: transparent;
  }

  #navigation {
    width:100%;
    height: 20%;
    position:absolute;
    left:50%;
    margin-left:-50%;
    bottom: 0;
  }

  #prev, #next, #submit {
    position:absolute;
    width:75px;
    height:25px;
    /* display: inline-block; */
    font-size: 1em;
    cursor: pointer;
    text-align: center;
    color: #fff;
    background-color: #bf7c3a;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #9b6635;
  }

  #prev {
    top: 10px;
    left: 10px;
  }

  #submit {
    top: 10px;
    left: 50%;
    margin-left:-37.5px
  }

  #next {
    top: 10px;
    right:10px;
  }
}

/* For Tablets */
@media screen and (min-width: 768px) {
  .foreground {
    position: absolute;
  }

  .zoomViewport {
    overflow:hidden;
    position: absolute;
    padding:0;
    width: 80vw;
    height: 215px;
    left: 50%;
    margin-left:-40vw;
    top: 50%;
    margin-top: -5vh;
    background-color: transparent;
    border-top-left-radius: 10vh;
    border-top-right-radius: 10vh;
    border: 1px solid black;
  }
  
  .zoomContainer {
    margin:0;
    padding:0;
    width:100%;
    height:100%;
    position:relative;
    border: 0;
    background-color: transparent;
  }

  #navigation {
    width:100%;
    height: 20%;
    position:absolute;
    left:50%;
    margin-left:-50%;
    bottom: 5vh;
  }

  #prev, #next, #submit {
    position:absolute;
    width:150px;
    height:50px;
    /* display: inline-block; */
    cursor: pointer;
    text-align: center;
    color: #fff;
    background-color: #bf7c3a;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #9b6635;
  }

  #prev {
    top: 50%;
    margin-top: -25px;
    left: 10vw;
    font-size: 2em;
  }

  #submit {
    top: 50%;
    margin-top: -25px;
    left: 50%;
    margin-left: -75px;
    font-size: 1.5em;
  }

  #next {
    top: 50%;
    margin-top: -25px;
    right:10vw;
    font-size: 2em;
  }
}

/* For Desktop/Laptop */
@media screen and (min-width: 1024px) {

  .zoomViewport {
    position: absolute;
    padding:0;
    width: 40vw;
    height: 30vh;
    border:1px solid black;
    overflow:hidden;
    left: 50%;
    margin-left:-20vw;
    top: 50%;
    margin-top: -8vh;
    background-color: transparent;
    border-top-left-radius: 10vh;
    border-top-right-radius: 10vh;
  }
  
  .zoomContainer {
    margin:0;
    padding:0;
    width:100%;
    height:100%;
    position:relative;
    border: 0;
    background-color: transparent;
  }

  #navigation {
    /* top: 75vh; */
    width:50%;
    height: 20%;
    position:absolute;
    left:50%;
    margin-left:-25%;
    bottom: 3vh;
    justify-content: center;
    justify-items: center;
  }

  #prev, #next, #submit {
    position:absolute;
    width:10vw;
    height:5vh;
    /* display: inline-block; */
    cursor: pointer;
    text-align: center;
    color: #fff;
    background-color: #bf7c3a;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #9b6635;
  }

  #prev {
    top: 50%;
    margin-top: -2.5vh;
    left: 10px;
    font-size: 2em;
  }

  #submit {
    top: 50%;
    margin-top: -2.5vh;
    left: 50%;
    margin-left: -5vw;
    font-size: 1em;
  }

  #next {
    top: 50%;
    margin-top: -2.5vh;
    right:10px;
    font-size: 2em;
  } 
}

/* Exit Screen */
.seeyou{
  overflow: hidden;
  position: absolute;
  left:0;
  right: 0;
  top: 0;
  bottom: 0;
  height: 100vh;
  width: 100%;
  background-image: url('img/form_after_bg.png');
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center;
}

@media screen and (min-width: 320px) {
  .seeyou img {
    position: absolute;
    width: 95vw;
    height: auto;
    top: 50%;
    margin-top: -20vh;
    left: 50%;
    margin-left: -47.5vw;
  }
}

@media screen and (min-width: 768px) {
  .seeyou img {
    position: absolute;
    width: 70vw;
    height: auto;
    top: 50%;
    margin-top: -20vh;
    left: 50%;
    margin-left: -35vw;
  }
}

@media screen and (min-width: 1024px) {
  .seeyou img {
    position: absolute;
    width: 50vw;
    height: auto;
    top: 50%;
    margin-top: -28vh;
    left: 50%;
    margin-left: -25vw;
  }
}
/* End of Exit Screen */
